{{#if showFooter}}
  <div class="wrap">
    <div class="flexbox">
      <div class="first-box">
        <div class="section section-1">
          <div class="heading">
            {{mainHeading}}
          </div>
          <div class="blurb">
            {{blurb}}
          </div>
        </div>
        <div class="section section-2 hide-on-mobile">
          <div class="heading">
            {{mainHeading2}}
          </div>
          <div class="blurb">
            {{blurb2}}
          </div>
        </div>
        {{#each linkSections as |section|}}
          <div class="section links hide-on-mobile">
            <div
              class="{{section.className}} heading"
              title="{{section.title}}"
            >
              {{section.text}}
            </div>
            <div class="blurb">
              <ul>
                {{#each section.childLinks as |link|}}
                  <li class="footer-section-link-wrapper {{link.className}}">
                    <a
                      class="footer-section-link"
                      title="{{link.title}}"
                      href="{{link.href}}"
                      target="{{link.target}}"
                    >
                      {{link.text}}
                    </a>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        {{/each}}
      </div>

      <div class="third-box">
        <div class="footer-links">
          {{#each smallLinks as |link|}}
            
            <a
              class="small-link {{link.className}}"
              title="{{link.title}}"
              target="{{link.target}}"
              href="{{link.href}}"
            >{{link.text}}</a>
            {{#unless @last}}
              <span class="footer-dot">·</span>
            {{/unless}}
          {{/each}}
        </div>
        <div class="social">
          {{#each socialLinks as |link|}}
            <a
              class="social-link {{link.className}}"
              title="{{link.title}}"
              target="{{link.target}}"
              href="{{link.href}}"
            >{{d-icon link.icon}}</a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{/if}}